.dataContainerHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .dataContainerHolder {
        flex-direction: column;
    }
}

.dataAnalysisTitle {
    font-weight: bold;
    font-size: 50px;
    margin: 30px;
}