.dataContainer {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 30px;
}

.title {
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
}

.description {
    max-width: 70%;
}

.figure {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}