.NavigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

.pppLogo {
    width: 160px;
    height: 85px;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.rightNavContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    /* transition: transform 0.3s ease-in-out; */
}

.routesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 500px;
    width: 90%;
}
/* 
.profileImg {
    width: 90px;
    height: 90px;
    margin-top: 20%;
    border-radius: 50%;

} */

/* Add hover effect for navigation links */
.link {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 3%;
    transition: color 0.4s ease-in-out;
    font-size: 18px;
    background: linear-gradient(40deg, #50b97a, #195026);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(40deg, #50b97a, #195026);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* SVG hover effect on the profile image */
.profileImg {
    width: 90px;
    height: 90px;
    margin-top: 20%;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border 0.8s ease-in-out ;
}

.profileImg:hover {
    border: 2px solid;
    border-image: linear-gradient(40deg,  #50b97a, #195026);
    border-image-slice: 1;
    border-radius: 50%;
}



@media (max-width: 600px) {
    .hamburger {
        display: block;
    }

    .rightNavContainer {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transform: translateX(100%);
    }

    .routesContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 20px;
    }

    .rightNavContainer.showMenu {
        transform: translateX(0);
    }
}
