.NavigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.profileImage {
    width: 5;
    height: 5;
}

.pppLogo {
    width: 160px;
    height: 85px;
}

.profileImg {
    width: 90px;
    height: 90px;
}

.rightNavContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
}

.routesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 500px;
    width: 90%;
    /* padding-top: 30px; */
    /* background-color: bisque; */
}

@media (max-width: 600px) {
    .routesContainer {
        flex-direction: column;
        /* justify-content: space-evenly; */
    }
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}